.tabs-container-menu{
  background-color: hsl(100, 100%, 100%);
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  width: 100%;
}

.tabs-container-menu ul{
  height: 2.5em;
  display: flex;
  margin: 0;
  padding: 0;
}

.tabs-container-menu li{
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  font-family: 'Roboto' , sans-serif;
  list-style: none;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}

.tabs-container-menu li.active,
.tabs-container-menu li.active:hover{
  background-color:hsl(207, 85%, 69%);
  color: white;
}

.tabs-container-buttons{
  display: flex;
  padding: 0 0.5em;
}

.tabs-container-buttons svg{
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  fill: hsl(207, 85%, 69%);
}

.tabs-container-buttons svg:hover{
  fill: hsl(19, 100%, 50%);
}

.errors-container{
  background-color: hsl(0, 0%, 100%);
  display: none;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  padding: 1em;
}

.errors-container.active{
  display: flex;
}

.errors-container .error-container{
  width: 100%;
}

.errors-container .error-container span{
  color: hsl(0, 0%, 50%);
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: 600;
}

.tab-panel{
  display: none;
}

.tab-panel.active{
  display: block;
  padding: 2em 0;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.form-element{
  margin-bottom: 1em;
  width: 100%;
}

.form-element-label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
}

.form-element-label label,
.form-element-label span{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
  transition: color 0.5s;
}

.form-element-label label.invalid{
  color: hsl(351deg 88% 64%);
}

.form-element-label,
.form-element-input{
  width: 100%;
}

input[type="submit"]{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.form-element-input input, 
.form-element-input textarea,
.form-element-input select {
  background-color:hsl(226deg 64% 66%);
  border: none;
  border-bottom: 0.1em solid  hsl(0, 0%, 100%);
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
}

.form-element-input input:focus,
.form-element-input textarea:focus,
.form-element-input select:focus{
  outline: none;
  border-bottom: 0.1em solid hsl(207, 85%, 69%);
}

.form-element-input input.invalid,
.form-element-input textarea.invalid{
  border-bottom: 0.1em solid hsl(0, 100%, 50%);
}

.form-element-input textarea{
  height: 10em;
}

.form-element-input .checkbox-container,
.form-element-input .radio-container{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.form-element-input .checkbox-container input,
.form-element-input .radio-container input{
  width: 1em;
  height: 1em;
}

.form-element-input .checkbox-container label,
.form-element-input .radio-container label{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.form-element-input .range-container{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.form-element-input .range-container input{
  width: 100%;
}

.form-element-input .range-container label{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.form-element-input .range-container .range-value{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.form-element-input .range-container input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  height: 0.5em;
  border-radius: 0.5em;
  background: hsl(0, 0%, 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.form-element-input input[type="time"]::-webkit-calendar-picker-indicator,
.form-element-input input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(1);
}