.tabsContainerMenu{
  background-color: hsl(100, 100%, 100%);
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  width: 100%;
}

.tabsContainerMenu ul{
  height: 2.5em;
  display: flex;
  margin: 0;
  padding: 0;
}

.tabsContainerMenu li{
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  font-family: 'Roboto' , sans-serif;
  list-style: none;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}

.tabsContainerMenu li.active,
.tabsContainerMenu li.active:hover{
  background-color:hsl(207, 85%, 69%);
  color: white;
}

.tabsContainerButtons{
  display: flex;
  padding: 0 0.5em;
}

.tabsContainerButtons svg{
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  fill: hsl(207, 85%, 69%);
}

.tabsContainerButtons svg:hover{
  fill: hsl(19, 100%, 50%);
}

.errorsContainer{
  background-color: hsl(0, 0%, 100%);
  display: none;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  padding: 1em;
}

.errorsContainer.active{
  display: flex;
}

.errorsContainer .errorContainer{
  width: 100%;
}

.errorsContainer .errorContainer span{
  color: hsl(0, 0%, 50%);
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: 600;
}

.tabPanel{
  display: none;
}

.tabPanel.active{
  display: block;
  padding: 2em 0;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.formElement{
  margin-bottom: 1em;
  width: 100%;
}

.formElementLabel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
}

.formElementLabel label,
.formElementLabel span{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
  transition: color 0.5s;
}

.formElementLabel label.invalid{
  color: hsl(351deg 88% 64%);
}

.formElementLabel,
.formElementInput{
  width: 100%;
}

input[type="submit"]{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.formElementInput input, 
.formElementInput textarea,
.formElementInput select {
  background-color:hsl(226deg 64% 66%);
  border: none;
  border-bottom: 0.1em solid  hsl(0, 0%, 100%);
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
}

.formElementInput input:focus,
.formElementInput textarea:focus,
.formElementInput select:focus{
  outline: none;
  border-bottom: 0.1em solid hsl(207, 85%, 69%);
}

.formElementInput input.invalid,
.formElementInput textarea.invalid{
  border-bottom: 0.1em solid hsl(0, 100%, 50%);
}

.formElementInput textarea{
  height: 10em;
}

.formElementInput .checkboxContainer,
.formElementInput .radioContainer{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.formElementInput .checkboxContainer input,
.formElementInput .radioContainer input{
  width: 1em;
  height: 1em;
}

.formElementInput .checkboxContainer label,
.formElementInput .radioContainer label{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.formElementInput .rangeContainer{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.formElementInput .rangeContainer input{
  width: 100%;
}

.formElementInput .rangeContainer label{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.formElementInput .rangeContainer .rangeValue{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto' , sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.formElementInput .rangeContainer input[type="range"]{
  appearance: none;
  width: 100%;
  height: 0.5em;
  border-radius: 0.5em;
  background: hsl(0, 0%, 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.formElementInput input[type="time"]::-webkit-calendar-picker-indicator,
.formElementInput input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(1);
}