.table {
  width: 100%;
}

.table .tableRow {
  background-color: hsl(226deg 64% 66%);
  box-shadow: 0 0 0.5em hsl(0deg 0% 0% / 0.5);
  margin-bottom: 1em;
}

.tableRow ul {
  list-style: none;
  margin: 0;
  padding: 0.5em; 
}

.tableRow ul li{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}

.tableRow span{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 0.5em;
}

.tableRow span::after {
  content: ":";
  margin-left: 0.3em;
}

.tableRow .tableButtons{
  background-color: hsl(207, 85%, 69%);
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.tableRow .tableButtons svg {
  cursor: pointer;
  height: 2em;
  width: 2em;
}

.tableRow .tableButtons svg path {
  fill: hsl(0, 0%, 100%);
}

.tableRow .tableButtons svg:hover path {
  fill: hsl(19, 100%, 50%);
}

.tablePagination {
  margin-top: 1em;
}

.tablePagination .tablePaginationInfo{
  color: hsl(0, 0%, 100%);
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.tablePagination .tablePaginationButtons p{
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
  margin: 1rem 0;
}

.tablePaginationInfo p{
  margin: 0;
}

.tablePagination .tablePaginationButton{
  cursor: pointer;
  margin-right: 1em;
}

.tablePagination .tablePaginationButton:hover{
  color: hsl(19, 100%, 50%);
}

.tablePagination .tablePaginationButton.inactive{
  color: hsl(0, 0%, 69%);
}